---
- name: Configure Prometheus + Grafana monitoring stack.
  hosts: control_plane
  gather_facts: false
  become: true

  vars_files:
    - ../../config.yml

  environment:
    # The location of the kubeconfig file on the master.
    K8S_AUTH_KUBECONFIG: /etc/rancher/k3s/k3s.yaml
    PATH: "~/go/bin:{{ ansible_env.PATH }}"

  tasks:
    - name: Add prometheus-community chart repo.
      kubernetes.core.helm_repository:
        name: prometheus-community
        repo_url: "https://prometheus-community.github.io/helm-charts"

    - name: Deploy Prometheus + Grafana Helm chart
      kubernetes.core.helm:
        name: cluster-monitoring
        chart_ref: prometheus-community/kube-prometheus-stack
        release_namespace: default
        create_namespace: true
        state: present
        values:
          alertmanager:
            enabled: false
            image:
              pullPolicy: Always

          grafana:
            image:
              pullPolicy: Always
            service:
              type: ClusterIP
            ingress:
              enabled: true
              ingressClassName: traefik
              annotations:
                traefik.ingress.kubernetes.io/router.entrypoints: websecure
                traefik.ingress.kubernetes.io/router.tls.certresolver: default
              hosts: 
                - grafana.kubecluster
              path: /
              tls:
                - hosts:
                    - grafana.kubecluster

          prometheus:
            image:
              pullPolicy: Always
            service:
              type: ClusterIP
            ingress:
              enabled: true
              ingressClassName: traefik
              annotations:
                traefik.ingress.kubernetes.io/router.entrypoints: websecure
                traefik.ingress.kubernetes.io/router.tls.certresolver: default
              hosts: 
                - prometheus.kubecluster
              path: /
              tls:
                - hosts:
                    - prometheus.kubecluster